._spacer {
  margin-bottom: 20px;
}

._spacer-md {
  margin-bottom: 30px;
}

._spacer-lg {
  margin-bottom: 40px;
}

._circle-small {
  width: 50px;
}

input.ng-invalid.ng-touched {
  border: 1px solid #af3d3d;
}

.error-message {
  margin: 10px;
  color: #af3d3d;
}
