<div class="contact-item-section ">
  <div class="card _spacer-md shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="row _spacer">
        <div class="col-md-9">
          <img
            [src]="contact.image"
            class="rounded-circle mr-5 _circle-small"
          />
        </div>

        <div class="col-md-3">
          <button
            type="button"
            class="btn btn-danger mr-2"
            (click)="handleDeleteEvent()"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete
          </button>

          <a routerLink="/edit" type="button" class="btn btn-info">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Edit
          </a>
        </div>
      </div>

      <div class="row ">
        <div class="col-md-6">
          <div>Name: {{ contact.name }}</div>

          <div>Phone: {{ contact.phone }}</div>

          <div>Email: {{ contact.email }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
