<div class="contact-item-section ">
  <div class="card _spacer-md shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="row _spacer">
        <div class="col-md-9">
          <img
            src="https://lh3.googleusercontent.com/proxy/B86oAEP_bE-j_NVGUcgIzs6Db6K52p93BGuH_gL9LpCu7uRghEO6GykK6EGYDTlj-GtESWGq45sUwsakTB1Qa5kpeBcs17tEPGFu"
            class="rounded-circle mr-5 _circle-small"
          />
        </div>

        <div class="col-md-3">
          <button
            type="button"
            class="btn btn-danger mr-2"
            (click)="handleDeleteEvent()"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete
          </button>

          <a routerLink="/edit" type="button" class="btn btn-info">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Edit
          </a>
        </div>
      </div>

      <div class="row ">
        <div class="col-md-6">
          <div>Name: John Doe</div>

          <div>Phone: 043223321</div>

          <div>Email: test@gmail.com</div>
        </div>
      </div>
    </div>
  </div>
</div>
